*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.ligneGauche {
	width: 2px;
	height: 100%;
	position: fixed;
	left: 7.5%;
	border-left: 4px solid #c4c4c448;
}
.ligneDroite {
	width: 2px;
	height: 100%;
	position: fixed;
	right: 7.5%;
	border-left: 4px solid #c4c4c448;
}
.hr {
	width: 85%;
	height: 4px;
	background-color: #c4c4c448;
}
.header, .headerGame {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	box-shadow: inset 0 0 8em 5em #000;
}
.header{
	background-image: url(../assets/Illustrations/Bathome1.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.headerGame{
	background-image: url(../assets/Illustrations/Batgame_1.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.menuLogo {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 85%;
	height: 250px;
	border-top: none;
	border-bottom: none;
}
.logoHome {
	width: 50%;
	height: 100%;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: left;
	padding: 0 150px;
}
.logoHome img:hover,
.navIcon img:hover {
	filter: brightness(0) saturate(100%) invert(88%) sepia(44%) saturate(1037%)
    hue-rotate(356deg) brightness(107%) contrast(106%);
}
.menu {
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: right;
	padding: 0 100px 0 0;
	ul {
		padding-right: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		justify-content: space-between;
		list-style: none;
	}
	li {
		display: block;
		align-items: center;
		line-height: 100%;
		margin: 0 20px;
	}
}
.itemNav {
	a {
		align-items: center;
		line-height: 100%;
		color: #ffffff;
		font-size: 36px;
		font-weight: bold;
		font-family: "Rajdhani";
		text-decoration: none;
		&::after {
			content: "";
			display: block;
			margin: 0 0;
			width: 0%;
			height: 2px;
			background-color: #f1f1f1;
			transition: all 0.2s ease-in-out;
		}
		&:hover {
			filter: brightness(0) saturate(100%) invert(88%) sepia(44%) saturate(1037%)
    hue-rotate(356deg) brightness(107%) contrast(106%);
			&::after {
				content: "";
				display: block;
				margin: 0 0;
				width: 100%;
				height: 2px;
				background-color: #f1f1f1;
				transition: all 0.2s ease-in-out;
			}
		}
	}
	&.active {
		&::after {
			content: "";
			display: block;
			margin-top: 0;
			margin: 0 0;
			width: 100%;
			height: 2px;
			background-color: #f1f1f1;
			transition: all 0.2s ease-in-out;
		}
	}
}
.headerIntroButton{
	background-color: #19587d;
	width: 100%;
	height: auto;
	.intro {
		width: 85%;
		color: #ffffff;
		font-size: 36px;
		font-weight: 100;
		padding: 200px 310px 20px;
		text-align: center;
		border-top: none;
		border-bottom: none;
		font-family: "Space Grotesk";
		span {
			font-family: "Space Grotesk";
			display: block;
			font-size: larger;
			font-weight: 700;
			margin: 50px;
			padding-top: 10px;
		}
	}
	.boutons {
		width: 85%;
		height: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		border-top: none;
		border-bottom: none;
		button {
			color: #f1f1f1;
			line-height: 100%;
			width: 300px;
			height: 80px;
			border: none;
			margin: 0 30px 20px 30px;
			background: linear-gradient(
		273.81deg,
		rgba(137, 0, 8, 0.6) 0%,
		rgba(252, 232, 216, 0.4) 100%
	  );
			&:hover {
				background: linear-gradient(273.81deg, #890008 0%, #fce8d8 100%);
			}
		}
		a {
			font-family: "rajdhani", "sans-serif";
			text-decoration: none;
			text-transform: uppercase;
			width: 200px;
			height: 36px;
			line-height: 50px;
			font-size: 30px;
			color: #ffffff;
		}
	}
}
.icon {
	width: 200px;
	right: 2.3%;
	top: 35%;
	position: absolute;
	z-index: 999;
	height: auto;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.navIcon {
	margin: 20px;
}
.contenu {
	width: 100%;
	height: auto;
	background-color: #000000;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	p {
		&.presentation {
			width: 85%;
			padding: 0 300px 20px 100px;
			width: 85%;
			color: #ffffff;
			font-size: 36px;
			font-weight: normal;
			text-align: justify;
			border-top: none;
			border-bottom: none;
			font-size: 36px;
			font-family: "Space Grotesk";
			margin-bottom: 50px;
		}
	}
}
.down {
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}
h2 {
	width: 85%;
	height: 100px;
	padding: 0 100px;
	color: #f1f1f1;
	font-size: 36px;
	line-height: 100px;
	display: block;
	text-align: start;
	font-family: "rajdhani", "sans-serif";
	font-weight: medium;
	text-transform: uppercase;
}
.carte {
	width: 85%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	justify-content: space-between;
	padding: 100px;
}
.infoCard {
	width: 400px;
	height: auto;
	img {
		width: 100%;
	}
	p {
		font-family: "rajdhani", "sans-serif";
		text-align: center;
		color: #ffffff;
		font-size: 30px;
	}
}
.imgJusticeLeag {
	width: 100%;
	height: auto;
	img {
		width: 100%;
	}
}
.imageBatarang {
	transform: translate(-550px, 100px);
}
.imageBatman {
	transform: translate(725px, 100px);
}
.multimedia {
	width: 100%;
	height: auto;
	background-color: #000000;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	.content {
		width: 85% !important;
		padding: 20px;
		width: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		justify-content: space-around;
		color: #c4c4c448;
	}
}
.flecheGauche,
.flecheDroite {
	width: 10%;
	height: auto;
	padding-left: 0px;
}
.flecheDroite {
	display: flex;
	justify-content: end;
}
.card {
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #c4c4c448;
	border-radius: 0 20px 20px 0;
	background-image: linear-gradient(
    90deg,
    rgba(237, 222, 191, 0.4) 40%,
    rgba(25, 88, 125, 0.4) 100%
  );
	&:hover {
		background-image: linear-gradient(
    90deg,
    rgba(237, 222, 191, 0.4) 40%,
    rgba(25, 88, 125, 0.4) 100%
  );
	}
}
.imagecard {
	width: 100%;
	height: auto;
	background-image: url(../assets/Illustrations/Bathome_ba1.png);
	background-size: contain;
}
.contentCard {
	padding: 20px;
	h3 {
		font-family: "Space Grotesk", "sans-serif";
		text-transform: uppercase;
		font-size: 18px;
		color: #a3a3a3;
	}
	h4 {
		font-family: "rajdhani", "sans-serif";
		font-weight: unset;
		font-size: 22px;
		color: #c4c4c4;
	}
	h5 {
		font-family: "rajdhani", "sans-serif";
		font-weight: unset;
		font-size: 18px;
		color: #fff;
		span {
			font-family: "rajdhani", "sans-serif";
			font-weight: unset;
			font-size: 18px;
			color: #ffff00;
		}
	}
}
.bandeAnnonce {
	width: 85%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 200px;
	img {
		width: 85%;
	}
}
.FormulaireDeContact {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	z-index: 99;
	width: 100%;
	height: auto;
	border-top: 3px solid rgb(34, 37, 21);
	background: linear-gradient(
    90deg,
    rgba(13, 14, 9, 0.958420868347339) 40%,
    rgba(10, 20, 22, 1) 100%
  );
	background: rgb(13, 14, 9);
	background: linear-gradient(
    130deg,
    rgba(13, 14, 9, 0.958420868347339) 40%,
    rgba(10, 20, 22, 1) 100%
  );
	h2 {
		text-align: center;
	}
}
form {
	margin-top: 100px;
	.boutons {
		margin-top: 40px;
		margin-left: 60px;
		margin-bottom: 80px;
	}
	p {
		font-family: "Rajdhani";
		font-size: 22px;
		color: #c4c4c448;
	}
}
.inputmail {
	border: none;
	border-bottom: 2px solid #c4c4c448;
	display: block;
	width: 100%;
	height: 43px;
	font-size: 22px;
	margin-top: 30px;
	background: none;
}
label {
	font-family: "Space Grotesk", "sans-serif";
	text-decoration: none;
	text-transform: uppercase;
	width: 200px;
	height: 36px;
	line-height: 50px;
	font-size: 30px;
	color: #ffffff;
}
.formBoutons {
	width: 100%;
	height: 100px;
	padding-left: 20%;
	padding-right: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	justify-content: space-between;
	button {
		width: auto;
		height: 40%;
		padding: 10px 20px 20px 20px;
		line-height: 16px;
		border: 1px solid;
		border-image: linear-gradient(45deg, #eddebf, #19587d) 10;
		background-color: transparent;
		color: #f1f1f1;
		font-size: 16px;
	}
}
.replique {
	width: 100%;
	height: 100vh;
	background-color: #000000;
	display: flex;
	align-items: center;
	justify-content: center;
}
.containerReplique {
	width: 60%;
	height: 60%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.guillemetGauche {
	position: relative;
	margin-top: 0px;
	width: 30%;
	height: 50%;
	background-size: contain;
	background-repeat: no-repeat;
	img {
		margin-top: 0px;
	}
}
.guillemetDroite {
	width: 30%;
	height: 100%;
	padding-top: 300px;
}
.repliquePhrase {
	width: 80%;
	height: 100%;
	text-align: center;
	text-justify: center;
	padding-top: 250px;
	padding-right: 50px;
	p {
		font-family: "Space Grotesk", "sans-serif";
		font-size: 22px;
		color: #f1f1f1;
	}
}
.lastPara {
	margin-top: 30px;
	width: 52%;
	margin-left: auto;
	margin-right: auto;
	font-family: "Space Grotesk", "sans-serif";
	p {
		font-size: 18px;
		color: #c4c4c448;
	}
}
footer {
	width: 100%;
	height: 350px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #000000;
}
.warnerBros {
	margin: 10px;
}
.warnerBrosLastPara {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
	p {
		font-family: "Space Grotesk";
		font-size: 10px;
		font-weight: 400;
		line-height: 12px;
		letter-spacing: 0px;
		text-align: left;
		color:#ffffff;	
	}
}
.Icones {
	width: 20%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 20px;
	img {
		&:hover {
			filter: brightness(0) saturate(100%) invert(88%) sepia(44%) saturate(1037%)
    hue-rotate(356deg) brightness(107%) contrast(106%);
		}
	}
}
$container-max-width: 1200px;
$header-padding: 20px;

.containerReplique {
  max-width: $container-max-width;
  margin: 0 auto;
  padding: $header-padding;
  
  @media screen and (max-width: 768px) {
    max-width: 100%;
    padding: 10px;
  }
  
  @media screen and (max-width: 480px) {
    max-width: 100%;
    padding: 5px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}