*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.ligneGauche {
  width: 2px;
  height: 100%;
  position: fixed;
  left: 7.5%;
  border-left: 4px solid rgba(196, 196, 196, 0.2823529412);
}

.ligneDroite {
  width: 2px;
  height: 100%;
  position: fixed;
  right: 7.5%;
  border-left: 4px solid rgba(196, 196, 196, 0.2823529412);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.icon {
  width: 150px;
  right: 0%;
  z-index: 999;
  height: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.navIcon{
  width: 100%;
  height: 20%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
Header{
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 0px;
  box-shadow: inset 0 0 7em 5em #000;
}

.menuLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  height: 200px;
  border-top: none;
  border-bottom: none;
  /* background-color: blue; */
}
.logoHome {
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logoHome img:hover,
.navIcon img:hover {
  filter: brightness(0) saturate(100%) invert(88%) sepia(44%) saturate(1037%) hue-rotate(356deg) brightness(107%) contrast(106%);
}

.Navigation{
  width: 50%;
  height: 100%;
  padding-right: 20px;
  display: flex;
  align-items: right;
  justify-content: center;
  list-style: none;
  /* background-color: #f1f1f1b6; */
}
.forButton{
  display: flex;
  align-items: center;
  justify-content: end;
}
.NavLinkBox{
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
}
.NavLinks {
  align-items: center;
  line-height: 100%;
  color: #ffffff;
  font-size: 2em;
  font-family: "Rajdhani";
  text-decoration: dashed;}
.menuLogo a{
  text-decoration: none;
}
.NavLinks:hover {
  font-weight: bold;
  /* filter: brightness(0) saturate(100%) invert(88%) sepia(44%) saturate(1037%) hue-rotate(356deg) brightness(107%) contrast(106%); */
}
.NavLinks::after {
  content: "";
  display: block;
  margin: 0 0;
  width: 0%;
  height: 2px;
  background-color: #f1f1f1;
  transition: all 0.2s ease-in-out;
}
.NavLinks.active::after {
  content: "";
  display: block;
  margin-top: 0;
  margin: 0 0;
  width: 100%;
  height: 4px;
  background-color: #f1f1f1;
  transition: all 0.2s ease-in-out;
}
.NavLinks:hover::after {
  content: "";
  display: block;
  margin: 0 0;
  width: 100%;
  height: 4px;
  background-color: #f1f1f1;
  transition: all 0.2s ease-in-out;
}
.ImageBackGroundHome{
    width: 100%;
    height: 100vh;
    letter-spacing: 3px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../public/assets/bg/Bathome1.png");
}
.hr {
  width: 85%;
  height: 4px;
  background-color: rgba(196, 196, 196, 0.2823529412);
}
/*Home*/
.headerIntroButton .intro {
  width: 85%;
  color: #ffffff;
  font-size: 2em;
  font-weight: 100;
  padding: 200px 310px 20px;
  text-align: center;
  border-top: none;
  border-bottom: none;
  font-family: "Space Grotesk";
}
.headerIntroButton .intro span {
  font-family: "Space Grotesk";
  display: block;
  font-size: larger;
  font-weight: 700;
  margin: 50px;
  padding-top: 10px;
}
/*Eshop*/
.ImageBackroundShop{
  width: 100%;
  height: 100vh;
  letter-spacing: 3px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../public/assets/bg/bg_1.png");
}
.ImageBackroundGame{
  width: 100%;
  height: 100vh;
  letter-spacing: 3px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../public/assets/bg/Batgame_1.png");
}
.IntroShop{
  width: 85%;
  color: #ffffff;
  font-size: 1.5em;
  font-weight: 100;
  padding: 350px 150px 20px 7%;
  text-align: center;
  border-top: none;
  border-bottom: none;
  /* background-color: blue; */
}
.introTextShop{
  font-size: 2em;
  font-weight: bold;
  font-family: "Rajdhani";
  text-transform: uppercase;
}
.Textintro{
  width: 85%;
  padding-left: 60px;
  text-align: left;

}
footer {
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #000000;
}

.warnerBros {
  margin: 10px;
}
.warnerBrosLastPara {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.warnerBrosLastPara p {
  font-family: "Space Grotesk", "sans-serif";
  font-size: 15px;
  color: #c4c4c448;
}
.Icones {
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}
.Icones img:hover {
  filter: brightness(0) saturate(100%) invert(88%) sepia(44%) saturate(1037%)
    hue-rotate(356deg) brightness(107%) contrast(106%);
}
/*------Catalogue-------*/
.allProduct{
  width: 750px;
  height: auto;
  padding: 200px auto;
  color: #f1f1f1;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/*------End Catalogue-------*/
.catalogue{
  width: 100%;
  height: auto;
  /* background-color: #890008; */
  display: flex;
  align-items: left;
}
.Filter{
  width: 25%;
  min-width: 300px;
  padding-top: 100px ;
  padding-left: 20px ;
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: space-evenly;
  color: #f1f1f1;  
  font-family: "Rajdhani";
}
.cardList{
  /* padding-right: 5px; */
  width: 90%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  /* background-color: aqua; */
}
.Card{
  width: 200px;
  height: auto;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}
.imageProduct{
  width: 100%;
  height: 205px;
  overflow: hidden;
}
.imageProduct img{
  width: 100%;
}
.infoProduct{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  border: 2px solid #f1f1f1;
  margin-bottom: 20px;
}
.productName, .productPrice{
  font-family: "Rajdhani";
  text-transform: uppercase;
}
.Button {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: none;
}
.Button button {
  width: 100%;
  height: 50px;
  color: #f1f1f1;
  line-height: 100%;
  border: none;
  font-family: "rajdhani", "sans-serif";
  font-size: 1em;
  text-transform: uppercase;
  background: linear-gradient(273.81deg, rgba(137, 0, 8, 0.6) 0%, rgba(252, 232, 216, 0.4) 100%);
}
.Button button:hover {
  background: linear-gradient(273.81deg, #890008 0%, #fce8d8 100%);
}

.caddy{
  width: 100%;
  height: auto;
  color: #f1f1f1;
  display: flex;background-color: #000;
  padding-left: 9.5%;
  padding-top: 100px;
}
.CartBtn{
  background-color: #000;
  border: none;
}
.imgCaddy{
  width: 100px;
  height: 50px;
  position: absolute;
  right: 7.5%;
}
.resTri{
  width: 100%;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
}
.resTri p{
  font-family: "rajdhani", "sans-serif";
  width: 100px;
  height: auto;
}
.CatalFilter{
  padding-top: 50px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: start;
  justify-content: center;
  background-color: #000000;
}
.Filter h2{
  font-size: 2em;
  font-weight: bold;
  font-family: "Rajdhani";
}
.checkItems, .checkUnivers{
  display: block;
  width: 200px;
  height: auto;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: start;
}
input[type='checkbox'] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  accent-color: red;
}
.containerFilter{
  width: 30%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #890008; */
}
input[type="range"]{
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  height: 2px;
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track{
  -webkit-appearance: none;
  height: 5px;
}
input[type="range"]::-moz-track{
  -moz-appearance: none;
  height: 5px;
}
input[type="range"]::-ms-track{
  appearance: none;
  height: 5px;
}
input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background-color: #890008;
  border-radius: 50%;
  /* pointer-events: auto; */
  cursor: pointer;
  margin-top: -8px;
  border: none;
}
input[type="range"]::-moz-range-thumb{
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background-color: #890008;
  border-radius: 50%;
  /* pointer-events: auto; */
  cursor: pointer;
  margin-top: -8px;
  border: none;
}
input[type="range"]::-ms-thumb{
  appearance: none;
  height: 20px;
  width: 20px;
  background-color: #890008;
  border-radius: 50%;
  /* pointer-events: auto; */
  cursor: pointer;
  margin-top: -8px;
  border: none;
}
input[type="range"]:active::-webkit-slider-thumb{
  background-color: red;
  /* border: 3px solid #f1f1f1; */
}
#priceValue{
  text-align: center;
}
.sideFilter{
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  width: 290px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  overflow-y: auto;
  transition: 0.6s ease;
  transition-property: left;
}
.sideFilter.active{
  left: 0;
 }
 .sideFilter .Menu{
  width: 100%;
  margin-top: 80px;
 }
 .sideFilter .Menu .item{
  position: relative;
  cursor: pointer;
 }
.hrFilter{
  border: 1px solid #ffffff;
  margin-bottom: 20px;
}
.dropdownCateg p, .dropdownUnivers p{
  cursor: pointer;
}
.ImageBackroundCompte{
  width: 100%;
  height: 100vh;
  letter-spacing: 3px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../public/assets/bg/bg_2.png");
}
/*UserProfil*/
.containerInfos{
  display: flex;
  width: 100%;
  height: auto;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.infos{
  display: flex;
  width: 80%;
  height: auto;
  background-color: #000000;
  color: #f1f1f1;
  font-family: "rajdhani", "sans-serif";
  display: flex;
  align-items: start;
  justify-content: center;
}
.infos li{
  width: 80%;
  
  list-style: none;
}
.infoMenu{
  width: 30%;
  height: auto;
  margin-top: 60px;
}
.infoMenu ul{
  padding-left: 0;
}
.logOut, .modifier, .enregistrer, .cartButton button{
  width: 250px;
  height: 50px;
  color: #f1f1f1;
  line-height: 100%;
  border: none;
  font-family: "rajdhani", "sans-serif";
  font-size: 1.3em;
  text-transform: uppercase;
  background: linear-gradient(273.81deg, rgba(2, 62, 112, 0.4) 0%, rgba(110, 184, 245, 0.4) 100%);
}
.cartButton button a{
  color: #f1f1f1;
  line-height: 100%;
  text-decoration: none;
}
.infosPersNewsLetter{
  /* border-left: 1px solid #f1f1f1; */
  width: 40%;
}
.InfoPers, .NewsLetter{
  border-left: 1px solid #f1f1f1;
  margin-bottom: 50px;
  padding: 50px 50px ;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  justify-content: space-between;
}
.InfoPers h2, .NewsLetter h2{
  font-weight: bold;
}
.YN{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.yes .no input{
  display: inline-block;
  width: 100%;
  height: auto;
  margin-right: 10px;
}
.cartItems{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #000;
  border: 1px solid #f1f1f1;
  margin-bottom: 20px;
}

.cart{
  width: 100%;
  padding: 20px 9.5%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-color: #000;
  color: #f1f1f1;
}
.cartItem{
  width: 100%;
  height: 200px;
  padding: 15px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.ProductImage{
  width: 100px;
  height: 100px;
  border: 1px solid #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imageCarte{
  width: 90%;
  height: 90%;
  overflow: hidden;
}
.description{
  width: 50%;
  min-width: 380px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;

}
.productDescription, .productPrice{
  width: 50%;
  align-items: center;
}
.inputCount,  .countArticle button{
  width: 10%;
  font-size: 16px;
  border: none;
  color: #333; /* Couleur du texte */
}
.delBtn{
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  color: #fce8d8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  cursor: pointer;
}
.subTotal{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: "rajdhani", "sans-serif";
}
.cartButton{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}
.cartButton button{
  margin-left: 50px;
}
.cart h4{
  color: #890008;
}

.dropDownTitle{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.activeArrow{
  animation: rotateArrow 0.2s linear;
}
@keyframes rotateArrow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

.heart{
  margin-left: 150px;
  position: absolute;
  margin-top: -240px;
  color: #890008;
  font-size: 22px;
  cursor: pointer;
}
.crumbs{
  font-family: "rajdhani", "sans-serif";
  text-decoration: none;
  color: #f1f1f1;
}