*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

Header{
  width: 100%;
  height: 100vh;
  background-image: url("../public/assets/bg/bg_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.logoHome {
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0 150px;
}
.logoHome img:hover,
.navIcon img:hover {
  filter: brightness(0) saturate(100%) invert(88%) sepia(44%) saturate(1037%) hue-rotate(356deg) brightness(107%) contrast(106%);
}
.hr {
  width: 85%;
  height: 4px;
  background-color: rgba(196, 196, 196, 0.2823529412);
}
a {
  text-decoration: none;
  font-family: "Rajdhani";
}
.NavLinks {
  align-items: center;
  line-height: 100%;
  color: #ffffff;
  font-size: 36px;
  font-weight: bold;
  font-family: "Rajdhani";
  text-decoration: none;
}
ul {
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}
li{
  list-style: none;
}
.ligneGauche {
  width: 2px;
  height: 100%;
  position: fixed;
  left: 7.5%;
  border-left: 4px solid rgba(196, 196, 196, 0.2823529412);
}

.ligneDroite {
  width: 2px;
  height: 100%;
  position: fixed;
  right: 7.5%;
  border-left: 4px solid rgba(196, 196, 196, 0.2823529412);
}